:root{

    --background-color:#fdf6ec;
    --header-color:#c5796d;
    --button-color:#ff8a65;
    --button-text-color:#333;
    --relevant-color:#aa4b6b;
    --footer-color:#e8cbc0;

    

}

body{
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



main{
    display: flex;   
    flex-direction: row;
    padding: 20px;
    min-height: 60vh;
}



header{
    background-color:var(--header-color);
    padding: 15px 20px;   
}
.nav-bounds{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
 

}

.nav-logo,
.container-icon{
    flex: 0;
    padding: 10px;

}
.store-title{
    font-size: 2rem;
    color: #5d4037;
    margin: 0 ;
    flex: 1;
    text-align: left;
}
.search-box{
    flex: 1;
    display: flex;
    justify-content: center;

}

.search-box input{
    width: 80%;
    max-width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


aside{
    width: 100%;
    max-width: 250px;
    padding: 20px;
    background-color: #fff8f4;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
aside h3{
    margin-bottom: 10px;
    color: var(--relevant-color);
}
.categorias{
    list-style: none;
    padding: 0;
    margin: 0;
}
.categorias li{
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fdfdfc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.categorias li:hover{
    background-color: #ffe6e6;
}







footer{
    background-color:var(--footer-color);
    color: #5d4037;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 10px 10px 0 0; 
}
footer a {
    color: #5d4037;
    text-decoration: none;
    margin: 0 5px;
}
footer a:hover{
    text-decoration: underline;
}






.product-container{
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;

}
.product-item{
    background-color: #f5f5f5; 
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #fdfdfc;
}
.product-item:hover{
    background-color: #decba4;
    transition: all 0.6s ease;
}
.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

button{
    background-color:var(--button-color);
    color:var(--button-text-color);
    border: none ;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
button:hover{
    background-color: #d84315;
}




.size-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.size-table th, 
.size-table td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.size-table th{
    background-color:var(--relevant-color);
    color: #fff;
    font-weight: bold;
}
.size-table tr:nth-child(even){
    background-color: #fff0eb;
}
.size-table tr:hover {
    background-color: #ffe0d6;
    transition: background-color 0.3s;
}
.size-table td {
    color: #333;
}

.product-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.product-images img{
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s;
}
.product-images img:hover{
    transform: scale(1.05);
}
.product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.info-product-detail{
    width: 100%;
    max-width: 800px;
    background-color: #fff8f4;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}
.product-description h3{
    color:var(--relevant-color);
    margin-bottom: 10px;
}
.product-description ul{
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
    color: #333;
}
.product-description li{
    margin-bottom: 8px;
    line-height: 1.5;
}
.product-description p{
    margin-bottom: 15px;
    color: #333;
    line-height: 1.5;
}
.info-product-detail button{
    display: block;
    margin: 15px auto;
    width: fit-content;
    background-color: var(--button-color);
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    

}
a{
    text-decoration: none;
    color : #333
}
.info-product-detail button:hover{
    background-color: #d84315;
}


 
.cart{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #fff8f4;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}
.cart h2{
    margin-bottom: 20px;
    color: var(--relevant-color);
    text-align: center;
}

.cart-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px ;
    background: #fdfdfc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.cart-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.cart-item-info{
    flex: 1;
}
.cart-item .price{
    color:var(--header-color);
    font-weight: bold;
}
.quantity{
    margin-top: 10px;
}
.quantity input {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.cart-summary{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}
.btn{
    display: inline-block;
    background: var(--header-color);
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none ;
    font-weight: bold;
    transition: background-color 0.3s ;
}
.btn:hover{
    background-color: #a8564b ;
}



.checkout{
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    background-color: #fff8f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.checkout h2, .checkout h3{
    color: var(--relevant-color);
    text-align: center;
    margin-bottom: 20px;
}
.checkout-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.checkout-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.checkout-form .btn{
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color:var(--header-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.checkout-form .btn:hover{
    background-color: #a8564b;
} 

.btn-back{
    display: block;
    width: fit-content;
    padding: 8px 16px;
    margin: 15px auto 0;
    background-color:var(--button-color);
    color:var(--button-text-color);
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-back:hover{
    background-color: #d84315;
    color: #fff;
}

.contact{
    flex:3;
    min-width: 280px;
    padding: 20px;
}
.contact-info{
    background-color: #fff8f4;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
    
}
.contact-info h2{
    margin-top: 0;
    color: var(--relevant-color);
    text-align: center;
}
.contact-info p{
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.contact-info form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
.contact-info form label{
    text-align: left;
    font-weight: bold;
    color: #333;
}
.contact-info input,
.contact-info textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;    

}
.contact-info button{
    padding: 12px;
    background-color:var(--button-color);
    color:var(--button-text-color);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact-info button:hover{
    background-color: #d84315;
    color: #fff;
}
@keyframes bounce{
    0% ,20% , 50%, 80%,100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-8px);
    }
    60%{
        transform: translateY(-4px);
    }
}
.cart-bounce{
    animation: bounce 0.6s ease;
}

@media(max-width:768px ){

    main{
        flex-direction: column;
        padding: 10px;
    }
    .product-container{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
        padding: 10px;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        
    }
    aside{
       display: none;
    }

    .product-images{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .product-images img{
        width: 80%;
        margin-bottom: 10px;
        max-width: 300px;
    }

    .nav-bounds{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .store-title{
        font-size: 1.5rem;
        text-align: center;
    }
    .cart-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cart-item img {
        width: 80px;
        height: 80px;
    }
    .cart-summary, .btn, .checkout-form, .btn-back{
        width: 90%;
        max-width: 300%;
        padding: 8px;
       margin: 10px auto;
       display: block;
       text-align: center;

    }


   

}